{#
 This file is part of EC-CUBE

 Copyright(c) 2000-2015 LOCKON CO.,LTD. All Rights Reserved.
 http://www.lockon.co.jp/

 For the full copyright and license information, please view the LICENSE
 file that was distributed with this source code.
#}

<div class="item_gallery">
    <h4>関連商品</h4>
    <ul class="row">
        {% for RelatedProduct in RelatedProducts %}
            <li class="col-sm-2 col-xs-4">
                <a href="{{ url('product_detail', {id : RelatedProduct.ChildProduct.id}) }}" class="item_photo">
                    <img src="{{ app.config.image_save_urlpath }}/{{ RelatedProduct.ChildProduct.main_list_image|no_image_product }}">
                </a>
                <p>{{ RelatedProduct.content }}</p>
            </li>
        {% endfor %}
    </ul>
</div>
