<script>
    $(function () {
        if ($('#related_product_area').length === 1) {
            $('.ec-productRole').append($('#plugin_related_product_related_product #related_product_area'));
            $('#plugin_related_product_related_product').empty();
        }
    });
</script>

<div id="plugin_related_product_related_product" class="d-none">
    {{ eccube_block_related_product({'RelatedProducts': RelatedProducts}) }}
</div>