{#
 This file is part of the Related Product plugin

 Copyright(c) 2000-2016 LOCKON CO.,LTD. All Rights Reserved.
 http://www.lockon.co.jp/

 For the full copyright and license information, please view the LICENSE
 file that was distributed with this source code.
#}

{% form_theme searchForm '@admin/Form/bootstrap_4_horizontal_layout.html.twig' %}

<div class="modal fade" id="searchProductModal" tabindex="-1" role="dialog"
     aria-labelledby="searchProductModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">{{ 'plugin.related_product.modal.product_search.title'|trans }}</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    {{ form_widget(searchForm.id, { attr : { placeholder : 'plugin.related_product.modal.product_search.input_name' } } ) }}
                </div>
                <div class="form-group">
                    {{ form_widget(searchForm.category_id) }}
                </div>
                <div class="form-group">
                    <button type="button" id="searchButton" class="btn btn-primary" >
                        {{ 'common.label.execute'|trans }}
                    </button>
                </div>
                <div class="form-group" id="searchResult">
                </div>
            </div>
        </div>
    </div>
</div>